@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap');

:root {
  --colorPrimary: #F6E9B2;
  --colorSecondary: #F3CA52;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "El Messiri", sans-serif;
  text-align: center;
}

.container {
  width: 400px;
  height: 350px;
  padding: 15px;
  background-color: var(--colorPrimary);
}

h1 {
  margin-bottom: 15px;
}

.inputBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.right .left {
  width: 50%;
}

input {
  border: none;
  border-radius: 3px;
  padding: 2px 0px;
}

.right input {
  width: 120px;
}

.left input {
  width: 50px;
}

fieldset {
  margin: 15px auto;
}

button {
  padding: 5px;
  margin-bottom: 15px;
}

button:hover {
  cursor: pointer;
}
.error{
  color: red;
  font-weight: bold;
  font-size: larger;
}
.result, span{
  color: green;
  font-weight: bold;
  font-size: larger;
}
/* Remove the arrows from a specific input */
#vat-el[type="number"] {
  -moz-appearance: textfield;
}

#vat-el::-webkit-outer-spin-button,
#vat-el::-webkit-inner-spin-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}